<%- include("header", {title: title}); %>
<table>
    <tr>
        <th>Time</th>
        <th>Avaible</th>
        <th>Place</th>
        <th>Antal i lager</th>
        <th><label for="price">Antal</label></th>
    </tr>
</table>

<%- include("footer"); %>